openapi: 3.0.3
info:
  title: CustomerCatalyst Metrics API
  description: |
    Send customer metrics to CustomerCatalyst for product usage scoring.

    **Rate Limits:**
    - Maximum 2,000 metrics per API call
    - Metrics are processed in batches of 500

    **Authentication:**
    All endpoints except `/auth` require a Bearer token in the Authorization header.
  version: 2.0.0
  contact:
    name: CustomerCatalyst Support
    email: support@customercatalyst.io

servers:
  - url: https://app.customercatalyst.io/api/1.1/wf
    description: Production server

paths:
  /auth:
    post:
      summary: Authenticate and get access token
      tags:
        - Authentication
      description: |
        Authenticate an organization admin and receive a JWT access token.
        **Token Validity:** 24 hours (86400 seconds)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: admin@yourorganization.com
                password:
                  type: string
                  format: password
                  example: your_secure_password
      responses:
        "200":
          description: Authentication successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  response:
                    type: object
                    properties:
                      token:
                        type: string
                        example: "bus|12345x67890"
                      user_id:
                        type: string
                        example: "1729752661023x277131438299202960"
                      expires:
                        type: integer
                        example: 86400
        "401":
          description: Authentication failed

  /upload_metrics:
    post:
      summary: Upload customer metrics
      tags:
        - Metrics
      security:
        - bearerAuth: []
      description: |
        Send customer metrics for product usage scoring.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - organization_id
                - metrics
              properties:
                organization_id:
                  type: string
                  example: "1755330002129x611465252565155800"
                metrics:
                  type: array
                  maxItems: 2000
                  items:
                    $ref: "#/components/schemas/Metric"
            examples:
              single_metric:
                summary: Single customer, single metric
                value:
                  organization_id: "1755330002129x611465252565155800"
                  metrics:
                    - customer_id: "customer_123"
                      metric_slug: "number_of_logins"
                      value: 45
      responses:
        "200":
          description: Metrics accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  total_metrics:
                    type: integer
                  total_batches:
                    type: integer
                  message:
                    type: string

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Metric:
      type: object
      required:
        - customer_id
        - metric_slug
        - value
      properties:
        customer_id:
          type: string
        metric_slug:
          type: string
        value:
          type: number

tags:
  - name: Authentication
  - name: Metrics
